body {
    background-color: #d2cece;
    padding:0px; 
    margin:0px; 
}

h1 {
    font-size: 200%; 
    padding-left: 20px;
    font-family: sans-serif;
    color: black;
}

p {
    padding-left: 20px;
    font-size: 120%;
    font-family: sans-serif; 
    text-align: left; 
    color: black;
}

.mainContent {
    margin-top: 100px;
}

.form {
    display: flex;
    margin-left: 15%;
    margin-right: 80%;
}