body {
    background-color: #d2cece;
    padding:0px; 
    margin:0px; 
}

h1 {
    font-size: 200%; 
    font-family: sans-serif;
    color: black;
    text-align: center;
}

p {
    font-size: 120%; 
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.p {
    font-size: 200%; 
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.mainContent {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.highlight {
    background-color: yellow;
  }